.wizard-container {
    /* background: linear-gradient(-45deg, #2996d1, #8672b4); */
    background: linear-gradient(-45deg, #8672b4, #c05db3, #0d7ea7, #2996d1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

.wizard-form {
    background: #ffffff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 8px;
    max-width: 1000px;
    width: 100%;
    padding: 24px;
}
.wizard-form-item{
    display: flex;
    justify-content: space-between;
}
.wizard-form-item-left{
    margin: 0 20px;
}

.layout-items .d-flex div {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.layout-items .d-flex div.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
.wizard-prev-step-btn{
    background: #ffffff;
    color: #929292;
    border: 1px solid #929292;
    padding: 8px 25px;
    border-radius: 8px;
    margin-right: 10px;
}
.wizard-step-btn{
    background: #2996d1;
    color: #ffffff;
    padding: 8px 25px;
    border: none;
    border-radius: 8px;
}

@media screen and (max-width: 992px) {

  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {

  }