.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle-btn {
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.dropdown-menu.show {
    display: block;
}

.menu-box-row {
    padding: 0 0 5px 0;
}

.menu-box {
    transition: transform 0.3s ease;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 52px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.add {
    justify-content: flex-start;
}

.menu-box:hover {

    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background: #f1f1f1;
    cursor: pointer;
}

.menu-box:focus {
    background: black;
}

.drag-over {
    background-color: #f0f0f0;
    border-color: #007bff;
}

.dragged {
    opacity: 0.5;
}

.border-green {
    border-right: 5px solid rgb(2, 224, 2) !important
}

.border-gray {
    border-right: 5px solid rgb(124, 126, 124) !important
}
.box-sub-menu{
    padding: 6px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid #ddd;
}

.box-menu-action {
    background: transparent;
    border: none;
    color: black;
}
.collapsed{
    width: auto !important;
}
.filtered-image{
    filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
}

.pre-button{
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}

.update-btn {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .update-btn:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .update-btn:hover {
    background-color: #2c974b;
  }
  
  .update-btn:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .update-btn:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .update-btn:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }